/* Variabler som bliver brugt en eller flere gang i scss'en */
$primary-color: #FBC100;
$hover-color: #2e667c;
$ups-color: #5A002C;
$primary-font-color: #161616;
$secondary-font-color: #FFFFFC;
$shadow-color: #323232;
$heading-font: 'Raleway', sans-serif;
$paragraph-font: 'Inter', sans-serif;
$padding-normal: 1em;
$border-radius: 1rem;


/* mixin til gentagene stykker styling */
@mixin box{
    display: flex;
    flex-direction: column;
    align-items: center;
}