@use 'partial';

/* style som bliver anvendt på hele siden */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: partial.$paragraph-font; /* bruger en tidligere defineret */
    color: partial.$primary-font-color;
    overflow: hidden;
}

body{
    background-color: partial.$primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    text-align: center;
}

#q1, #q2, #q3{
    p:first-of-type{
        text-align: left;
    }
}

#counter {
    padding: partial.$padding-normal;
}

#e3{
    p:nth-of-type(2){
        font-weight: 400;
    }
    p:nth-of-type(3){
        font-weight: 700;
    }
}

/* nesting som mindsker behovet for at skrive section før alle de underliggende elementer*/
section{
    @include partial.box;
    justify-content: center;
    height: 100dvh;

    h1{
        font-family: partial.$heading-font;
        font-size: 2em;
        padding-bottom: 0.5em;
    }
    
    p{
        font-size: 1em;
        padding: 1em 2em;
        max-width: 800px;
    }

    p:nth-of-type(2){
        font-weight: 700;
    }

/* styling på id med .innerText element, fra javascript */
    #fb1{
        display: none;
        text-align: center;
        background-color: partial.$ups-color;
        margin: 1em;
        border-radius: partial.$border-radius;
        border: 1px solid partial.$secondary-font-color;
        transition: 0.7s;
        color: partial.$secondary-font-color;
    }

    img{
        max-height: 425px;
        width: 450px;
        object-fit: contain;
    }
}

/* styling på alle sections undtagen den første */
section:not(:first-of-type){
    display: none;
}

/* div til at holde frem og tilbage knapper */
div{
    @include partial.box;
    margin: 0.5em 15px 0 15px;
}

button{
    text-decoration: none;
    text-align: center;
    font-size: 1em;
}

/* Knap til svarmulighed */
.answer{
    font-size: 1em;
    width: 300px;
    margin: 12px 0;
    padding: 10px 5px;
    font-family: partial.$paragraph-font;
    background-color: partial.$secondary-font-color;
    border-radius: partial.$border-radius;
    border: 1px solid partial.$primary-font-color;
    transition: 0.7s;
    text-decoration: none;
}

/* hovereffect til knapperne på siden */
button:hover, a:hover{
    background-color: partial.$hover-color;
    color: partial.$secondary-font-color;
    border: 1px solid partial.$secondary-font-color;
    transition: 0.7s;
}

/* Media query til mobil */
@media screen and (max-width: 800px) {

section{

    h1{
        font-size: 1.8;
    }
    
    p{
        width: 90vw;
        padding: 8px 16px;
    }

    #fb1{
        width: 95vw;
    }

    button{
        margin-top: 1em 5px 0 15px;
    }

    img{
        width: 350px;
        max-height: 325px;
    }

}

}